/*
*		MAIN
*/
 body {
 	height: 100%;
 	max-width: 100%;
 	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	font-size: 16px;
 	line-height: 1.6em;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	-webkit-overflow-scrolling: touch;
 }

.main{
	height: 100%;
	max-height: 100%;
	display: block;
	background-image: url('img/1.jpg');
	background-size: cover;
	color: #fff;
}

.main p{
	font-size: 16px;
}

.page{
	padding: 20px 0;
  position: relative;
  z-index: 6000;
}

.wrapper{
	padding: 15px 0;
}


.heading{
  font-family: 'Dancing Script', cursive;
	color: #fff;
	font-size: 75px;
	/*text-transform: uppercase;*/
	font-weight: 700;
	margin: 30px 0 10px;
}

.red{
	color: red;
}

/*
* About
*/

#about{
	background: #ededed;
	color: #626262;
}

#about h1,
#about h2,
#about h3,
#about h4,
#about h5,
#about h6{
	color: #626262;
}


.feature-box-container{
	margin: 60px 0;
}

.feature-box-container:last-child{
	margin-bottom: 0;
}

.feature-box {
	text-align: center;
	background: #e4e4e4;
}

.feature-box .icon {
	width: 100px;
	height: 55px;
	color: #fff;
	position: relative;
	background: #bbbcbc;
	margin: 35px auto 20px;
}

.feature-box .icon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #bbbcbc;
}

.feature-box .icon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #bbbcbc;
}

.feature-box .icon i {
	font-size: 35px;
	padding-top: 12px;
	display: block;
}

.feature-box .description {
	padding: 20px 15px 10px;
}

.feature-box .description p {
	font-size: 14px;
}

/*
 * Sections
 * --------------------------------------------------------- */

.section{
	z-index: 2000;
	padding: 70px 0;
}

.section-title {
	margin: 0 0 20px;
	text-align: center;
}

.section-title-border {
	width: 70px;
	height: 3px;
	background: rgba(0,0,0,0.13);
	margin: 0 auto 45px;
	border-radius: 3px;
}


/*
 * Social icons
 * --------------------------------------------------------- */

.social {
	margin-top: 20px;
	font-size: 14px;
}

.social a {
	font-size: 1.1em;
	padding: 0 0.3em;
	border: 1px solid #fff;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 28px;
	color: #fff;
}


/* ---------------------------------------------------------
 *	Footer
 * --------------------------------------------------------- */

footer .pull-left,
footer .pull-right {
	text-align: center;
	float: none !important;
}

footer {
	background-color: #000000;
  color: #FFFFFF
}

p.copyright {
	margin-top: 20px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}


/*
 *	Buttons
 *  --------------------------------------------------------- */

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.btn-theme {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
}

.btn-theme:hover {
	color: #000;
	background-color: #fff;
}
/*
 * Social icons
 * --------------------------------------------------------- */

.social {
	margin-top: 20px;
	font-size: 14px;
}

.social a {
	font-size: 1.1em;
	padding: 0 0.3em;
	border: 1px solid #fff;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 28px;
}




/*
 *	Arrow Down
 *  --------------------------------------------------------- */
.arrow-down{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.scroll{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 35px;
	padding: 10px;
	color: #fff;

	-webkit-animation: arrowBounce 2.5s infinite;
	-moz-animation: arrowBounce 2.5s infinite;
	-ms-animation: arrowBounce 2.5s infinite;
	animation: arrowBounce 2.5s infinite;
}

.scroll:hover{
	color: #eeeeee;
}

@-webkit-keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-moz-keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-ms-keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes arrowBounce {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
