<div class="container">
	<h1 class="text-center">Spoil With Love</h1>

<div class="row">
	<h2>Search Series</h2>
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchTerm" placeholder="Chercher un film..." ng-model-options="{ debounce: 1000}">
	</div>

	<div class="col-md-2" ng-repeat="searchedSerie in searchedSeries track by $index">
		<h3 class="text-center">{{searchedSerie.original_title}}</h3>
		<a ui-sref="serie({id : searchedSerie.id})"><img src="{{baseImageUrl}}{{searchedSerie.poster_path}}" style="max-width:100%" alt=""/></a>
	</div>
</div>

<div class="row">
	<h2>Popular Series</h2>
	<div class="col-md-2" ng-repeat="popularSerie in popularSeries track by $index">
		<h3 class="text-center">{{popularSerie.original_name}}</h3>
		<a ui-sref="serie({id : popularSerie.id})"><img src="{{baseImageUrl}}{{popularSerie.poster_path}}" style="max-width:100%" alt=""/></a>
	</div>
</div>

</div>
